.header {
	position: fixed;
	height: 70px;
	width: 100%;
	background-color: var(--black);

	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.header a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}
